<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/bootstrap-theme.css" rel="stylesheet" />
    
    <link href="~/Styles/bootstrap-theme.min.css" rel="stylesheet" />
    
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/Styles/myCSS.css" rel="stylesheet" />
    <link href="~/Styles/Site.css" rel="stylesheet" />
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
